@model foursquare.Models.HomeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 welcomeContentTextTitle">
        <h4 class=""><p></p>
        @Model.contact.Section
        </h4>
    </div>
    <div class="col-xs-12 welcomeContentText">
        <p>
            For any questions or to receive further information, please contact<br>
            @Model.contact.Name, @Model.contact.Title<br>
            <a href="mailTo:@Model.contact.Email"><strong>@Model.contact.Email</strong></a><br>
            <br>
            Phone: @Model.contact.Phone<br>
            Fax: @Model.contact.Fax<br>
            <br>
            Or
            <br><br>
            @Model.contact.Name2, @Model.contact.Title2<br>
            <a href="mailTo:@Model.contact.Email2"><strong>@Model.contact.Email2</strong></a><br>
            <br>
            Phone: @Model.contact.Phone2
        </p>
    </div>
</div>