@model foursquare.Models.HomeModel
@{
    ViewBag.Title = "BioModerators";
    Layout = "~/Views/Shared/_Secondary_Layout.cshtml";
}


<section class="bioPage">
    <div class="container">
        <div class="row bioPageContent">
            <div class="col-xs-12">
                <a href="#" class="pull-right" onclick="window.close();">
                    <img src="http://magiccampaign.com/img/cd-icon-close-mobile.svg">
                </a>
            </div>
            <div class="col-xs-5">
                <img src="@Model.moderatorsBio.Picture">
            </div>

            <div class="col-xs-7">
                <h4 class="bioName">@Model.moderatorsBio.BioName</h4>
                <p class="bioTitle">
                    @Model.moderatorsBio.BioTitle
                </p>
                @Html.Raw(@Model.moderatorsBio.Bio)
            </div>
        </div>

    </div>
</section>